<!-- account page sub-menu -->
<div class="account__menu">
    <ul class="account__menu-list">
        <li class="account__menu-item"><a href="/account/favorites" class="account__menu-link"
                id="<%= keyWordFav %>">Your Favorite Recipes</a></li>
        <li class="account__menu-item"><a href="/account/management" class="account__menu-link"
                id="<%= keyWordMgmt %>">Account
                Management</a></li>
    </ul>
</div>