<form action="/acount/favorite" class="fav" method="POST">
    <!-- how to send recipe id to server? -->
    <input type="checkbox" name="fav" id="fav-toggle" class="fav-toggle">
    <label for="fav-toggle">
        <div class="fav__btn"><i class="fav__icon fas fa-heart"></i></div>
    </label>

</form>