<ul class="nav__menu">
    <% if(!currentUser) { %>
    <li class="nav__item"><a href="/login" class="nav__link">Login</a></li>
    <li class="nav__item"><a href="/register" class="nav__link">Register</a></li>
    <% } else { %>
    <li class="nav__item"><a href="/account" class="nav__link">Account</a></li>
    <li class="nav__item"><a href="/logout" class="nav__link">Logout</a></li>
    <% } %>
</ul>