.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-sm $padding-md;
    position: fixed;
    top: 0;
    left: 0;

    &-page {
        align-items: flex-start;
        background: linear-gradient(45deg, $color-primary, $color-secondary);
        padding: $padding-sm $padding-md $padding-xs $padding-md;
    }

    // nav logo
    &__logo,
    &__menu {
        transform: translateY(1rem);
    }

    // nav menu
    &__menu {
        list-style: none;
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: $margin-md;
        }
    }

    &__link {
        &,
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-black;
            font-weight: 500;
        }

        &:hover {
            color: $color-highlight;
        }
    }
}
