<% layout('layouts/boilerplate') %>

<div class="error">
    <h1 class="error__heading"><%= err.statusCode %> - <%= err.message %> </h1>
    <!-- <p class="error__stack"><%= err.stack %> </p> -->
</div>