<% layout('layouts/boilerplate') %>

<div class="app-text">
    <h1 class="app-text__heading heading--1">Eat Healthy<span class="app-text__period">.</span><br>Live
        Well<span class="app-text__period">.</span></h1>
    <h4 class="app-text__intro heading--4">We provide homemade, simple, & delicious plant-based recipes
        are designed to provide your body & mind with great fuel for great performance. Enjoy our creations in good
        health!</h4>
</div>