*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  width: 100%;
  min-height: 100%;
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 8rem 2rem;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.heading--1 {
  font-size: 4.8rem;
}

.heading--2 {
  font-size: 3.2rem;
}

.heading--3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.heading--4 {
  font-size: 1.6rem;
  font-weight: 500;
}

.heading--5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.center-content--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-content--row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-element {
  text-align: center;
}

.hidden {
  display: none !important;
}

.background-color {
  background: linear-gradient(45deg, #55a630, #aacc00);
}

.selected {
  border-bottom: 3px solid #55a630;
}
.selected > a {
  color: #55a630 !important;
}

.search {
  grid-column: 3/4;
}
.search__input {
  font: inherit;
  padding: 1rem;
  padding-left: 2rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  border-bottom: 3px solid transparent;
}
.search__input::placeholder {
  font-size: 1.6rem;
  transform: translateY(1.5px);
}
.search__input:focus {
  outline: none;
  border-bottom: 3px solid #bc6c25;
}
.search__basic {
  width: 100%;
}
.search__input-box {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}
.search__basic-input {
  border-radius: 0;
}
.search__btn-box {
  cursor: pointer;
  border: none;
  background-color: #e5e5e5;
  padding: 1.2rem;
  font-size: 1.6rem;
}
.search__icon {
  color: #55a630;
}
.search__icon:hover {
  transform: translateY(-2px);
}
.search__icon:active {
  transform: translateY(0);
}
.search__advanced-toggle, .search__advanced-toggle:link, .search__advanced-toggle:visited {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: 500;
}
.search__advanced-toggle:hover {
  color: #bc6c25;
  text-decoration: underline;
}
.search__advanced {
  background-color: #fff;
  border-radius: 4px;
  margin: 2rem 0;
  padding: 4rem;
  width: 100vw;
  display: grid;
  grid-template-columns: min-content repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  width: 90vw;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  position: relative;
}
.search__label {
  font-size: 1.6rem;
  font-weight: 600;
}
.search__advanced-input {
  border: 1px solid #e5e5e5;
}
.search__ingredients-input {
  grid-column: 2/4;
}
.search__column {
  margin-top: 4rem;
  justify-self: center;
}
.search__column--min {
  grid-column: 2/3;
}
.search__label-icon {
  color: rgba(0, 0, 0, 0.5);
}
.search__annotation-box {
  background-color: rgba(170, 204, 0, 0.5);
  padding: 0.5rem 1rem;
  position: absolute;
  top: 23%;
  max-width: 80%;
}
.search__annotation-box--min {
  left: 10%;
}
.search__annotation-box--max {
  right: 10%;
}
.search__annotation {
  font-size: 1.4rem;
}
.search--navi {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: start;
}

.btn-primary,
.btn-primary--error {
  display: inline-block;
  font: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  padding: 0.8rem 6rem;
  border: none;
  border-radius: 40px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
}
.btn-primary:hover,
.btn-primary--error:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.btn-primary:active,
.btn-primary--error:active {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  transform: translateY(0);
}

.btn-primary {
  background: linear-gradient(45deg, #bc6c25, rgba(188, 108, 37, 0.9));
}

.btn-primary--error {
  background: #ae2012;
}

.btn-back {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #55a630;
  margin: 0 0 2rem 0;
}
.btn-back__icon {
  font-size: 2.6rem;
}

.btn-delete {
  cursor: pointer;
  background-color: #ae2012;
  border: none;
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
}

.card {
  background-color: rgba(85, 166, 48, 0.2);
  position: relative;
  list-style: none;
  outline: 1px solid rgba(170, 204, 0, 0.4);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.card:hover {
  background-color: rgba(85, 166, 48, 0.25);
}
.card:hover .card__title {
  color: #bc6c25;
}
.card__fav-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}
.card__link, .card__link:link, .card__link:active {
  color: #000;
  text-decoration: none;
}
.card__img-container {
  width: 100%;
  height: calc(40rem * 9 / 16);
  overflow: hidden;
}
.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  padding: 2rem 4rem;
}
.card__title {
  color: #55a630;
}
.card__nutrition-overview {
  margin-top: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: max-content minmax(1rem, 1fr) max-content;
  row-gap: 2rem;
}
.card__nutrition-item {
  font-size: 1.4rem;
  font-weight: 500;
}
.card__nutrition-item:nth-child(2), .card__nutrition-item:last-child {
  grid-column: 3/4;
}

.recipe {
  line-height: 1.4;
}
.recipe__img-container {
  width: 100%;
  height: 35vh;
}
.recipe__img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.recipe__title {
  margin-top: 2rem;
  display: flex;
}
.recipe__name {
  font-size: 3.2rem;
  color: #55a630;
  margin-right: 1rem;
}
.recipe__fav-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recipe__summary {
  margin-top: 2rem;
}
.recipe__summary > a, .recipe__summary > a:link, .recipe__summary > a:active {
  text-decoration: none;
  color: #55a630;
}
.recipe__summary > a:hover {
  text-decoration: underline;
}
.recipe__stats-container {
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.recipe__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__stats-icon {
  color: #55a630;
  font-size: 2.4rem;
}
.recipe__stats-heading {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.recipe__section-title {
  margin-top: 4rem;
  color: #55a630;
}
.recipe__ingredients-list {
  margin-top: 2rem;
  column-count: 2;
  column-gap: 4rem;
}
.recipe__instructions-list {
  margin-top: 2rem;
}
.recipe__taste-container {
  width: 70%;
  margin: auto;
}
.recipe__nutritions div:last-child {
  display: none;
}
.recipe__write-review {
  margin-top: 2rem;
}
.recipe__display-review {
  margin-top: 6rem;
}
.recipe__reviews-heading {
  margin-top: 2rem;
}
.recipe__reviews-heading > a, .recipe__reviews-heading > a:link, .recipe__reviews-heading > a:visited {
  text-decoration: none;
  color: #55a630;
  font-weight: 600;
}
.recipe__reviews-heading > a:hover {
  text-decoration: underline;
}

.logo__link, .logo__link:link, .logo__link:visited {
  text-decoration: none;
}
.logo__text {
  font-size: 2.4rem;
  font-weight: 600;
}
.logo__text--1 {
  color: #fff;
}
.logo__text--2 {
  color: #bc6c25;
}

.flash {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 4rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
}
.flash--success {
  background: rgba(188, 108, 37, 0.8);
}
.flash--error {
  background: #ae2012;
}
.flash__msg {
  color: #fff;
}
.flash__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.flash__btn-icon {
  color: #fff;
  font-size: 2rem;
}

.form {
  width: 60%;
  margin: auto;
  position: relative;
}
.form__group {
  display: flex;
  flex-direction: column;
}
.form__group--checkbox {
  display: block;
}
.form__group--checkbox > input {
  margin-right: 1rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__label {
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.4;
}
.form__input {
  font-family: inherit;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.form__input:focus {
  outline: none;
  border-bottom: 1px solid #bc6c25;
}

.review-form__rating {
  margin-top: 1rem;
}
.review-form__text-container {
  margin-top: 1rem;
}
.review-form__text-field {
  width: 100%;
  height: 12rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-family: inherit;
  font-size: inherit;
}
.review-form__text-field:focus {
  outline: none;
  border: 1px solid #55a630;
}
.review-form__btn-container {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.review {
  background-color: rgba(170, 204, 0, 0.2);
  border-radius: 4px;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.review__author {
  font-weight: 600;
  margin-top: 1rem;
}
.review__text {
  margin-top: 2rem;
}
.review__delete-box {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.fav-card {
  position: relative;
}
@media only screen and (min-width: 37.5em) {
  .fav-card {
    max-width: 35rem;
  }
}
.fav-card__fav-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}
.fav-card__link, .fav-card__link:link, .fav-card__link:visited {
  text-decoration: none;
}
.fav-card__link:hover .fav-card__recipe-title {
  color: #bc6c25;
}
.fav-card__img-container {
  width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.fav-card__img {
  display: block;
  width: 100%;
}
.fav-card__recipe-title {
  font-size: 2rem;
  color: #55a630;
  margin-top: 1rem;
}

.fav__toggle {
  display: none;
}
.fav__icon {
  font-size: 2.4rem;
  cursor: pointer;
}
.fav__icon--fav {
  color: #ae2012;
}
.fav__icon--unfav {
  color: #e5e5e5;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav-page {
  align-items: flex-start;
  background: linear-gradient(45deg, #55a630, #aacc00);
  padding: 2rem 4rem 1rem 4rem;
  display: grid;
  grid-template-columns: min-content minmax(1rem, 0.1fr) minmax(min-content, 0.8fr) minmax(1rem, 0.1fr) min-content;
}
.nav__logo {
  transform: translateY(6px);
}
.nav__menu {
  transform: translateY(1rem);
  list-style: none;
  display: flex;
  grid-column: 5/6;
}
.nav__item:not(:last-child) {
  margin-right: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__item:not(:last-child) {
    margin-right: 2rem;
  }
}
.nav__link, .nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.nav__link:hover {
  color: #bc6c25;
}
.nav > form > div:nth-of-type(2) {
  position: absolute;
  top: 85%;
}

.content-container {
  max-width: 114rem;
  margin-top: 6rem;
  width: 100%;
}

.home-container {
  width: 70%;
  margin-top: 8%;
}

.app-text {
  margin-bottom: 6rem;
}
.app-text__heading {
  line-height: 1;
  color: #fff;
}
.app-text__period {
  color: #bc6c25;
}
.app-text__intro {
  margin: 2rem 0 4rem 0;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.7);
}

.search__results {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.account__menu-list {
  list-style-type: none;
  display: flex;
}
.account__menu-item {
  padding: 0 0 1rem 0;
}
.account__menu-item:not(:first-of-type) {
  margin-left: 4rem;
}
.account__menu-link, .account__menu-link:link, .account__menu-link:visited {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.account__menu-link:hover {
  color: #55a630;
}
.account__section {
  margin-top: 4rem;
}
.account__section-title {
  margin-bottom: 4rem;
  font-size: 4rem;
}
.account__favorite-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
}
.account__todo-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}
.account__todo-heading:not(:first-of-type) {
  margin-top: 6rem;
}
.account__form {
  margin-top: 4rem;
  margin-left: 0;
}

/*# sourceMappingURL=style.css.map */
