.card {
    background-color: rgba($color-primary, 0.2);
    position: relative;
    list-style: none;

    &__fav-btn {
        position: absolute;
        top: 0rem;
        right: 0rem;
        padding: 2rem;
    }

    &__fav-icon {
        cursor: pointer;
        font-size: 3rem;
        color: $color-grey;
    }

    &__link {
        &,
        &:link,
        &:active {
            color: $color-black;
            // display: grid;
            // grid-template-columns: min-content 1fr;
            // column-gap: $grid-gap-xs;
            // align-items: center;
            text-decoration: none;

            @media only screen and (max-width: $bp-md) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    &__img-container {
        width: 100%;
        height: calc(#{$image-width} * 9 / 16);
        overflow: hidden;

        @media only screen and (max-width: $bp-lg) {
            width: 8rem;
            height: 8rem;
        }

        @media only screen and (max-width: $bp-md) {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin-bottom: $margin-xs;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        padding: $padding-sm $padding-md;
    }

    &__title {
        color: $color-primary;
    }

    &__nutrition-overview {
        margin-top: $margin-sm;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: $grid-gap-md;
        row-gap: $grid-gap-xs;

        @media only screen and (max-width: $bp-xl) {
            display: none;
        }
    }
    &__nutrition-item {
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__selected {
        border: 2px solid $color-primary;
    }
}
