.fav {

    &__toggle {
        display: none;
    }

    &__icon {
        font-size: 2.4rem;
        cursor: pointer;
        
        &--fav {
            color: $color-red;
        }

        &--unfav {
            color: $color-grey-dark;
        }
    }
}