.recipe {
    line-height: 1.4;

    // heading
    &__img-container {
        width: 100%;
        height: 35vh;
    }
    &__img {
        display: block;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    &__title {
        margin-top: $margin-sm;
        display: flex;
    }

    &__name {
        font-size: 3.2rem;
        color: $color-primary;
        margin-right: $margin-xs;
    }

    &__fav-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__summary {
        margin-top: $margin-sm;
        & > a {
            &,
            &:link,
            &:active {
                text-decoration: none;
                color: $color-primary;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // recipe stats
    &__stats-container {
        margin-top: $margin-sm;
        padding: 1rem 0;
        border-top: 2px solid rgba($color-black, 0.4);
        border-bottom: 2px solid rgba($color-black, 0.4);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__stats-icon {
        color: $color-primary;
        font-size: 2.4rem;
    }

    &__stats-heading {
        font-weight: 600;
        margin-top: $margin-xs;
        margin-bottom: $margin-xxs;
    }

    &__section-title {
        margin-top: $margin-md;
        color: $color-primary;
    }

    &__ingredients-list {
        margin-top: $margin-sm;
        column-count: 2;
        column-gap: 4rem;
    }

    // instructions
    &__instructions-list {
        margin-top: $margin-sm;
    }

    &__taste-container {
        width: 70%;
        margin: auto;
    }

    // nutritions
    &__nutritions {
        & div:last-child {
            display: none;
        }
    }

    // reviews
    &__write-review {
        margin-top: $margin-sm;
    }

    &__display-review {
        margin-top: $margin-md-2;
    }

    &__reviews-heading {
        margin-top: $margin-sm;

        & > a {
            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: $color-primary;
                font-weight: 600;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
