<% layout('layouts/boilerplate') %>

<form action="" method="POST" class="form">
    <h1 class="form__title center-element">Login</h1>
    <div class="form__group">
        <label class="form__label" for="username">Username</label>
        <input class="form__input" type="text" name="username" id="username">
    </div>
    <div class="form__group">
        <label class="form__label" for="password">Password</label>
        <input class="form__input" type="password" name="password" id="password">
    </div>
    <div class="form__group">
        <input class="btn-primary" class="form__input btn-primary" type="submit" value="Login">
    </div>
</form>